<template>
  <section class="header">
    <div class="header-left">
      <i class="iconfont icon-back">&#xe624;</i>
    </div>
    <div class="header-input">
      <i class="iconfont">&#xe632;</i>
      <span>输入城市/景点/游玩主题</span>
    </div>
    <div class="header-right">
      <span class="text">城市</span>
      <i class="iconfont icon-arrow">&#xe6aa;</i>
    </div>
  </section>
</template>

<script type="text/ecmascript-6">
export default {
  name: 'header'
}
</script>

<style lang="stylus" scoped>
  @import "~assets/css/varibles.styl";
  @import "index.styl";
</style>
