.header
  display flex
  line-height .86rem
  background-color $bgColor
  .header-left
    width .64rem
    float left
    .icon-back
      display block
      text-align center
  .header-input
    flex 1
    padding-left .2rem
    height .64rem
    line-height .64rem
    margin-top .12rem
    margin-left .2rem
    background-color #fff
    border-radius .1rem
    color #ccc
  .header-right
    padding-left .2rem
    width 1.24rem
    float right
    color #fff
    font-size 0
    .text
      font-size .24rem
    .icon-arrow
      font-size .24rem