<template>
  <section class="home">
    <v-header></v-header>
    Home
  </section>
</template>

<script type="text/ecmascript-6">
  import Header from 'components/home/header'
  export default {
    name: 'Home',
    components: {
      'v-header': Header
    }
  }
</script>

<style lang="stylus" scoped>
  @import "index.styl";
</style>
